*{
	margin: 0;
	padding: 0;



} 
 body{
 	background: #f5f5dc;
 	border: 1px solid black;
    

 }
 label{
 	margin: 1em;
 	
 }
 button{
 	margin: 1em;
 	line-height: 2em;
 	padding-left: 10px;
 	padding-right: 10px;
 	border-radius: 25px;
 }

.choos1{
	display:flex;
	
	background: gray;
	padding-top: 80px;
	align-items:center;
	
	
}

.test1{
	background: #926239;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	text-align: center;

}

	      li{
	      	 background: #006bd6;
	      	 text-align:center;
	      	 padding-top: 20px;
	         padding-bottom: 50px;
	         padding-right: 20px;
	         padding-left: 20px;
	      	 width :80%;
	      	 margin:0 auto 4em auto;
	      	 border-radius:1em;
	      	 list-style-type: none;
	      	}
	           
	           img {
			      width: 10em;
			      height: 10em;
			      border:5px solid #006bd6;
			      border-radius:50%;
			      margin-top:-4.5em;
                }    
          
          blockquote{
          	color: white;
          	line-height: 2;
          	letter-spacing: 2;
          	word-spacing: 3px ;

          	flex-direction: column;

          }      
	   
  p{
  	border :3px solid gray;
  	padding: 10px;
  	margin: 10px;
  	font-size: bold;
  	font-family: sans-serif;
  	background: #deb887;
    color: black;
    line-height: 1.3;
    word-spacing: 1px;
    text-align: justify;
  }
  cite{
  	border: 2px solid black;
  	padding: 10px;
  	border-radius: 20px;
  	background: #0000cc;
  	color: black;

  }
  a{
  	text-decoration: none;
  	color: black;
  }
  

  @media only screen and (min-width: 780px){

   .choos1{

   	     margin-left: 10em;
   	     margin-right:10em;
   }

   .test1{
       
       margin-left: 10em;
       margin-right:20em;

   }



  }